In [ ]:
# 3. Convert tuple → list → modify → tuple
t = (1, 2, 3)
lst = list(t)
lst.append(4)
t = tuple(lst)
print(t)