In [ ]:
# 8. Concatenate two tuples
t1 = (1, 2)
t2 = (3, 4)
t3 = t1 + t2
print(t3)